.listings-table-content
  - unless listing.items.empty?
    %table.table.table-hover{'class' => listing.table_css_class}
      %thead
        - if listing.selectable?
          %th.batch-selection-header
            %input#batch-selection{:type => "checkbox"}

        - listing.columns.each do |col|
          %th{'class' => "#{'sortable ' + (col.sort || '') if col.sortable?}" }
            - if col.sortable?
              = link_to col.human_name, listing.url_for_sort(col.name, col.next_sort_direction), remote: true
            - else
              = col.human_name

      %tbody
        - listing.items.each do |item|
          %tr{class: listing.row_style_for(item)}
            - if listing.selectable?
              %td
                %input.checkbox-selection{:name => "selected", :type => "checkbox", :value => item.id}
            - listing.columns.each do |col|
              %td{class: col.cell_css_class}
                = col.value_for(item)

    %ul.nav.clearfix
      - if listing.paginated?
        %li.pull-left
          = paginate listing.items, :remote => true, :theme => listing.kaminari_theme, :params => listing.params, :remote => true
      - unless listing.export_formats.empty?
        %li.pull-right
          %ul.inline.list-inline
            %li
              = listing.export_message
            - listing.export_formats.each do |format|
              %li
                = link_to format, listing.url_for_format(format)


  - else
    .well
      = listing.no_data_message
