%h1 Welcome#index

%dl
  %dt
    = link_to 'Tracks', tracks_path
  %dd
    ActiveRecord based listing with association handling

%dl
  %dt
    = link_to 'Posts', posts_path
  %dd
    ActiveRecord based listing with scopes, deferred_scopes, styles and selectable

%dl
  %dt
    = link_to 'Authors', authors_path
  %dd
    ActiveRecord based listing with computed columns

%dl
  %dt
    = link_to 'Filtered posts', filtered_posts_path
  %dd
    ActiveRecord based listing with filters

%dl
  %dt
    = link_to 'Hash', hash_path
  %dd
    Array of Hash based listing

%dl
  %dt
    = link_to 'Array', array_path
  %dd
    Array based listing
